<!DOCTYPE html>
<html lang="en">
<head>

     <title>Arpan Resume - Profile HTML Page</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.default.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/mail.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/clip.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/drop.css')}}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{url_for('static',filename='css/tooplate-ben-resume-style.css')}}">
<!--
Tooplate 2120 Ben Resume
https://www.tooplate.com/view/2120-ben-resume
-->
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="#">
                ARPAN_BHOI
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#intro" class="nav-link smoothScroll">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About</a>
                    </li>

              

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="nav-link smoothScroll">Data_Analysis</a>
                      <ul class="dropdown-menu">
                        <li><a href="/notebook">IPL</a></li>
                        <li><a href="/note">Mobile_Sales</a></li>
                        <li><a href="/note21">Global_Super_Store</a></li>
                      </ul>
                  </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">GEOPANDAS_GALLERY</a>
                    </li>
                </ul>

                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="https://bio.link/arpanbhoi" class="custom-btn btn" download>BIO_LINK</a>
                </div>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row">

                  <div class="mx-auto col-lg-5 col-md-5 col-10">
                      <img src="{{url_for('static',filename='images/WhatsApp Image 2023-03-22 at 9.29.32 PM.jpeg')}}" class="img-fluid" alt="Ben Resume HTML Template">
                  </div>

                   <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                        <div class="hero-text">

                            <h1 class="hero-title">👋 Arpan, a Data Analyst</h1>

                            <a href="mailto:bhoiarpan123@gmail.com" class="email-link">
                              bhoiarpan123@gmail.com
                          </a>
                          
                          
                        </div>
                    </div>

            </div>
        </div>
    </section>


    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="mb-4">This is Arpan's Resume</h3>

                    <p>As a data analyst, I possess a unique set of skills and expertise to analyze, interpret and derive insights from complex data sets. I have a keen eye for detail and a strong analytical mind, which allows me to make sense of data and draw valuable conclusions.

                      Using various data analysis tools and techniques, such as data mining, statistical analysis, and data visualization, I am able to extract meaningful insights from large and diverse data sources. My ability to present my findings to different stakeholders, including executives, managers, and clients, is critical in transforming raw data into valuable information.
                      
                      As a data analyst, I play a crucial role in helping organizations improve their performance, reduce costs, and increase profitability. My work involves analyzing data from various sources, such as customer feedback, sales data, social media trends, and website traffic, to name a few.
                      
                      My expertise and insights are highly valued in today's data-driven world, where businesses rely on data to gain a competitive edge. As a data analyst, I have the power to turn raw data into actionable insights that can help organizations achieve their goals and objectives.</p>

                    

                    <ul class="mt-4 mb-5 mb-lg-0 profile-list list-unstyled">
                        <li><strong>Full Name :</strong> Arpan Bhoi </li>

                        <li><strong>Date of Birth:</strong> 18 February 2001</li>

                        <li><strong>Email :</strong> bhoiarpan123@gmail.com</li>
                    </ul>
                </div>

                <div class="col-lg-5 mx-auto col-md-6 col-12">
                    <div class="rounded-video">
                        <iframe width="400" height="400" src="https://www.youtube.com/embed/dzpbLyh1ARE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                </div>

            </div>
          
        </div>
    </section>




     <section class="contact section-padding pt-0" id="contact">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{url_for('submit')}}" method="post" class="contact-form webform"  role="form">
                
                <div class="form-group d-flex flex-column-reverse">
                    <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Your Name" required>

                    <label for="cf-name" class="webform-label">Full Name</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Your Email" required>

                    <label for="cf-email" class="webform-label">Your Email</label>
                </div>

                <div class="form-group d-flex flex-column-reverse">
                    <textarea class="form-control" rows="5" name="cf-message" id="cf-message" placeholder="Your Message" required></textarea>

                    <label for="cf-message" class="webform-label">Message</label>
                </div>

                <button type="submit" class="form-control" id="submit-button" name="submit">Send</button>
            </form>
          </div>

            <div class="mx-auto col-lg-4 col-md-6 col-12">
                <h3 class="my-4 pt-4 pt-lg-0">Socials</h3>

             

                <ul class="social-links mt-2">
            
        
                    <li><a href="https://www.instagram.com/arpan__bhoi/" rel="noopener" class="fab fa-instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/arpan-bhoi/" rel="noopener" class="fab fa-linkedin"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCMkfUdKufEDPmm2XG-5TXAg" rel="noopener" class="fab fa-youtube"></a></li>
                </ul>
                
              <p class="copyright-text mt-5 pt-3">Copyright &copy; 2023 Arpan Resume Page</p>
                
               
            </div>

        </div>
      </div>
    </section>
     <!-- SCRIPTS -->
     <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/smoothscroll.js')}}"></script>
     <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/custom.js')}}"></script>
     <script src="{{url_for('static',filename='js/drop.js')}}"></script>

</body>
</html>