Table of 6th semester:

<!DOCTYPE html>
<html>
<head>
	<title>..</title>
</head>
<body><table align="center" border="8"><tr><th align="center" valign="middle" colspan="10" rowspan="1">Dr.Jivraj Mehta Institute Of Technology,Mogar</th></tr><tr><th align="center" valign="middle" colspan="10" rowspan="1">Computer Engineering Department</th>
				</tr><tr><th align="center" valign="middle" colspan="10" rowspan="1">Online Class Time Table of 6th Semester_A.Y.2020-21</th></tr><tr><td colspan="2" rowspan="1">Branch Name: Computer</td><td colspan="2" rowspan="1" align="center">Semester-6</td>
					<td colspan="2" rowspan="1">WEF:10/12/2020</td>
					<td colspan="2" rowspan="1">Platform for class: Google Meet</td>
				</tr>

				<tr bgcolor="grey" align="center">
					<td>Time</td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
					<td>Saturday</td>
				</tr>
				<tr align="center">
					<td>10:00-11:00</td>
					<td>AJP</td>
					<td>WP</td>
					<td>MPI</td>
					<td>AJP</td>
					<td>IOT</td>
					<td>WP</td>
				</tr>

				<tr align="center">
					<td>11:00-12:00</td>
				</tr>

				<tr align="center">
					<td>12:00-1:00</td>
					<td>WP</td>
					<td>MPI</td>
					<td>AJP</td>
					<td>IOT</td>
					<td>TOC</td>
					<td>TOC</td>

				</tr>
				<tr>
					<td align="center">1:00-2:00</td>
				</tr>

				<tr align="center">
					<td>2:00-3:00</td>
					<td>MPI</td>
					<td>CPDP</td>
					<td>TOC</td>
					<td>TOC</td>
					<td>CPDP</td>
					<td>DOE-II B</td>
				</tr>

				<table align="center" border="4">
					<tr>
						<th>Subject code</th>
						<th>Subject Name</th>
						<th>Name of Faculty</th>
					</tr>

					<tr align="center">
						<td>3160704</td>
						<td>Theory of Computation</td>
						<td>Prof Mayur Ajmeri/Prof Mamta Parmar</td>
					</tr>

					<tr align="center">
						<td>3160712</td>
						<td>Microprocessor and Interfacing</td>
						<td>Prof Sanjay Patel</td>
					</tr>

					<tr align="center">
						<td>3160713</td>
						<td>Web Programming</td>
						<td>Prof Mamta Parmar</td>
					</tr>
					<tr align="center">
						<td>3160707</td>
						<td>Advance Java Programming</td>
						<td>Prof Ritika Jani</td>
					</tr>
					<tr align="center">
						<td>3160716</td>
						<td>IOT & it's Application</td>
						<td>Prof Rahul Patel</td>
					</tr>
				</table>

				<table align="center" border="4">
					<tr align="center">
						<th>Department Time Table Coordinator : Prof Rahul Patel</th>
						<th>HOD-CSE : Prof Bhupendra Patel</th>
					</tr>
					
				</table>
			</table>
</body>
</html>

			

 









